<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
Address: ZJU, Hangzhou, Zhejiang Provience, PRC
</p>
<p>
Phone: (+86)&nbsp;188&nbsp;8888&nbsp;8888
</p>
<p>
Email: TsingleeFan@gmail.com
</p>
